.main-container {
    background-color: #ac1c1c;
}

body {
    background-color: #eee;
    padding-top: 10vmin;
    min-padding-top: 55px;
}

.bg-white {
    background-color: white;

}

.search-box {
    width: 30vmax !important;
}

.onenavbar {
    min-width: 773px;
    height: 9vmin;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    padding: 2vmin;
    min-height: 55px;
}

.onecontainer {
    background-color: white;
}

.onep {
    font-size: 0.7em;
}
.bar-content-height {
    min-height: 31px;
    height: 100%;

}

.onetabcontent {
    backgroud-color: gray;
    margin-top: 10px;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
}
